.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  justify-content: center;
  color: #282c34;
}

.Exped-id {
  margin-top: -1;
}

.List {
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
}

.close {
  font-weight: bold;
  font-style: italic;
  padding-top: 2vh;
  font-size: 1.3em;
}
.Details-flex {
  margin: 3em 3em 0 3em;
  background-color: #e3d3e6;
  border-radius: 10px;
}

.detailsCard {
  margin-right: 3em;
  margin-left: 1em;
  list-style: none;
  padding: 1em;
  text-align: left;
  margin-bottom: 0;
}

.Exped-id {
  margin: 0 3em 0;
  padding-top: 3vh;
  padding-bottom: 3vh;
  border-radius: 10px;
  background-color: #e3d3e6;
}

.insteadofh4 {
  font-size: 16px;
  font-weight: bold;
}
.Pop-uph4 {
  font-size: 16px;
  font-weight: bold;
  padding-top: 3vh;
}

.detailsBold {
  font-weight: bold;
}

.detailsCard li {
  padding-bottom: 1.6vh;
}

.indentAddress {
  padding-left: 2em;
}

button {
  background-color: purple;
  border-radius: 12%;
  color: white;
  height: 2.2em;
  width: 3.2em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-size: 16px;
  filter: drop-shadow(8px 8px 10px gray);
}

.sortedDetails {
  text-align: center;
  padding-left: 1em;
}

.sortedList {
  padding-bottom: 3vh;
}

@media screen and (min-width: 768px){
  .Exped-id {
    margin: 0 10em 0;
  }

  .Details-flex {
  margin: 3em 10em 0;
  }
}


@media screen and (min-width: 1024px){
  .App-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
  }
  .Exped-id {
    margin: 5em;
    border-radius: 10px;
    background-color: #e3d3e6;
    padding-top: 2.5em;
  }
  .detailsCard {
    margin-right: 3em;
    margin-left: 0;
  }

  .close {
    padding-top: 0;
  }

  .Pop-uph4 {
    padding-top: 1.5vh;

  }
  .Details-flex {
    padding: 0.8em;
    margin: 5em;
  }
}
